@font-face {
    font-family: NotoSans;
    src: url("/static/fonts/noto_sans/regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: NotoSans;
    src: url("/static/fonts/noto_sans/bold.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: NotoSans;
    src: url("/static/fonts/noto_sans/italic.ttf");
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: NotoSans;
    src: url("/static/fonts/noto_sans/bold_italic.ttf");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: NotoSans;
}

.blinking {
    animation: blinker 3s linear infinite;
}
  
@keyframes blinker {
    0%  { opacity: 1; }
    40% { opacity: 0; }
    80% { opacity: 1; }
}


.graphLoading {
    height: 500px;
    line-height: 500px;
    text-align: center;
}

.footer {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.main {
    padding-top: 25px;
}