<!-- partials/header.ejs -->
<% let root = '../' %>



<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapseTarget">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="collapseTarget">
        <a href="/" class="navbar-brand">GMini</a>    
        <ul class="navbar-nav">
            <li class="nav-item" id="navbar-home">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" id="navbar-stats">
                <a class="nav-link" href="/stats">Stats</a>
            </li>
            <li class="nav-item" id="navbar-cspu">
                <a class="nav-link" href="http://cspu.be/cansat">Back to website</a>
            </li>
        </ul>
    </div>

</nav>

<% if(typeof activeId !== 'undefined') { %>
<script>
    document.getElementById("<%= activeId %>").classList.add("active");
</script>
<% } %>