<!-- pages/apiutil.ejs -->
<% let root = '../' %>


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(root + 'partials/head', {title: "API | Torus live telemetry"}) %>

    <script src="/static/js/apiutil.js" defer></script>
</head>
<body class="d-flex flex-column min-vh-100">

    <%- include(root + 'partials/header') %>

    
    <main>
        Send request to <div id='url'><%- url %></div>
        <textarea id="request" cols="35" rows="20">
<%- defaultquery %>
        </textarea>
        
        </br>  
        <button id="sendrequest">SEND</button>
        </br>
        Response:</br>
        <div id="response"></div>
    </main>


    <%- include(root + 'partials/footer') %>
    
</body>
</html>