<!-- pages/index.ejs -->
<% let root = '../' %>


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(root + 'partials/head', {title: "Torus live telemetry"}) %>

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js" defer></script>
    <script src="/static/js/index.js" defer></script>
    
    
</head>
<body class="d-flex flex-column min-vh-100">

    <%- include(root + 'partials/header', {activeId:"navbar-home"}) %>

    <main class="main">
        <div class="container-fluid">
            <div class="container-md">
                <div class="container-fluid" style="text-align:right; color:slategray" id="establishingconnection">Establishing connection <span class="blinking" style="opacity: 0.5;"><%- include(root + 'icons/broadcast') %></span></div>
                <div class="container-fluid" style="text-align:right; color:red" id="liveupdates" hidden>Live updates <span class="blinking"><%- include(root + 'icons/broadcast') %></span></div>
                <div class="container-fluid" style="text-align:right; color:slategray" id="currentlyoffline" hidden>Currently offline <span style="opacity: 0.5;"><%- include(root + 'icons/broadcast') %></span></div>
                <div class="graphLoading" id="graphLoading">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id='graph'></div>
                <div class="graphLoading" id="graph2Loading">
                    <div class="spinner-border" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id='graph2'></div>
            </div>
        </div>

    </main>

    <%- include(root + 'partials/footer') %>

    
</body>
</html>