<!-- errors/500.ejs -->
<% let root = '../' %>


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(root + 'partials/head', {title: "500 | SpySeeCan Data"}) %>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <%- include(root + 'partials/header') %>
    </header>

    <main>
        500 ERROR.
    </main>

    <footer>
        <%- include(root + 'partials/footer') %>
    </footer>
    
</body>
</html>