<!-- pages/stats.ejs -->
<% let root = '../' %>


<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(root + 'partials/head', {title: "Stats | GMini live telemetry"}) %>

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/static/js/stats.js" defer></script>
    
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include(root + 'partials/header', {activeId:"navbar-stats"}) %>


    <main>
        Currently, <span id="connectedUsers"><%= connectedUsers %></span> users are viewing the live data.
    </main>

    <%- include(root + 'partials/footer') %>
</body>
</html>